REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

FLASK_HOST=0.0.0.0
FLASK_PORT=5001
FLASK_DEBUG=false

DASH_PORT=8050

MODEL_PATH=model/saint_classifier.pt
SCALER_PATH=model/scaler.pkl
ENCODER_PATH=model/encoder.pkl
